/* ========================= Fonts ===================== */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

/* ========================== Styles ==================== */
:root {
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);    
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* font */
    --ff-size: 16px;
    --ff-family: "DM Serif Display", sans-serif;
    --ff-family-body: "Karla", sans-serif;
}

/* ======================== Global Values =================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--Dark-Violet);
    font-family: var(--ff-family-body);
    font-size: var(--ff-size);
    font-weight: 700;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 20px;
    width: 1200px;
}

h1, h2, h3 {
    font-family: var(--ff-family);
    font-weight: 700;
}

/* --------------------------header --------------- */
.header {
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    position: relative;
    padding-top: 50px;
    margin-bottom: 250px;
}

.header * {
    z-index: 1;
}

.header::after {
    content: "";
    background-image: url(/images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
}

.header::before {
    content: "";
    background-image: url(/images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    bottom: -50%;
    position: absolute;
    left: 0%;
    height: 100%;
    width: 100%;
    z-index: 0;
}


/* nav */
nav {
    background-color: var(--Very-Light-Gray);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav li {
    margin-left: 30px;
}

nav li a {
    color: var(--Dark-Grayish-Violet);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
}

nav li a:hover {
    color: var(--Dark-Violet);
    font-size: 1rem;
}

.btn {
    background-color: transparent;
    border: 2px solid var(--Very-Light-Gray);
    color: var(--Very-Light-Gray);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0;
}
.btn:hover {
    background-color: var(--Very-Light-Gray);
    color: var(--Dark-Violet);
    font-size: 15px;
}
.btn-reverse {
    border-color: var(--Dark-Violet);
    color: var(--Dark-Violet);
}
.btn-reverse:hover {
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
}

h1, h2 {
    font-size: 4em;
    letter-spacing: 2px;
    line-height: 1;
    position: relative;
    margin-bottom: 20px;
    padding-top: 50px;
}

h3 {
    font-size: 1.5rem;
}

h1::before {
    content: "";
    background-color: var(--Dark-Grayish-Violet);
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 150px;
}

.intro-img {
    max-width: 100%;
    margin-bottom: -250px;
}


/* ================================ Section company info ==================*/
hr {
    background-color: var(--Dark-Grayish-Violet);
    top: 0;
    left: 0;
    height: 1px;
    width: 150px;
}

.col-sm {
    margin-top: 80px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--Dark-Violet);
}

/* ============================== Section How we Work ==================== */
.bg-violet {
    background-color: var(--Dark-Violet);
    padding: 70px;
    margin: 100px auto;
    position: relative;
    background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 35% 100%;
}

.bg-violet h2 {
    color: var(--Very-Light-Gray);
    padding: 0;
    width: 75%;
}

/* =============================== Footer ======================= */
footer {
   background-color: var(--Very-Light-Gray);
   background-image: url("/images/bg-pattern-footer-desktop.svg");
   background-repeat: no-repeat;
   background-position: top left;
   padding: 60px 0 30px;
   position: relative;
}

footer ul {
   padding: 0;
   list-style: none;
   margin: 20px auto;
}

footer li {
    text-decoration: none;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

/* footer ul.flex li:not(:first-child) {
    margin-left: 15px;
} */

.footer-logo {
    margin: 20px auto;
}

.border-bottom {
    border-bottom: 1px solid var(--Grayish-Blue);
    margin-bottom: 30px;
}

footer h4 {
    color: var(--Dark-Grayish-Violet);
    text-transform: uppercase;
    margin: 20px auto;
    font-size: var(--ff-family-body);
    font-weight: 700;
}

.footer-note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex > div {
    flex: 1;
}

.attribution {
    text-align: center;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    header {
        padding-top: 0;
        margin-bottom: 50px;
    }

    .header::after {
        content: "";
        background-image: url(/images/bg-pattern-intro-right-mobile.svg);
        background-repeat: no-repeat;
        background-position: top right;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        z-index: 2;
    }
    
    .header::before {
        content: "";
        background-image: url(/images/bg-pattern-intro-left-mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom left;
        bottom: 0;
        position: absolute;
        left: 0%;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

    .intro-img {
        background-image: url("/images/image-intro-mobile.jpg");
        width: 100%;
        
        /* display: inline-block;
        margin: -20px;
        margin-bottom: -10px;
        max-width: calc(100% + 40px); */
    }

    .flex {
        flex-direction: column;
    }

    .bg-violet {
        background-image: url("/images/bg-pattern-how-we-work-mobile.svg");
    }

    .bg-violet h2 {
        margin-bottom: 30px;
        width: 100%;
    }

    footer {
        background-image: url("/images/bg-pattern-footer-mobile.svg");
        background-size: 100% auto;
        background-position: top center;
    }

    footer ul.flex {
       flex-direction: row;
    }

    footer li {
        margin-left: 10px;
    }
}